<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">


<head th:fragment="head">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/custom.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/bikesherpaa.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon" />
    <title>Sherpa | Home</title>
</head>

<body>
<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid d-flex align-items-center">
        <a href="" class="text-decoration-none"><img th:src="@{/images/logo.png}" width="50" alt="" class="me-3"></a>
        <a class="navbar-brand" href="">Sherpa Bikes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home.html">Hoteles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home.html">Bicicletas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home2.html}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="">
    <img th:src="@{/images/hero.jpg}" width="100%" alt="">

    <div>
        <div class="container">
            <div class="row">
                <h2 class="pb-3 pt-3 titulo">Qué estás buscando?</h2>
            </div>
            <div class="row pb-4">
                <div class="col section-title">
                    <a href="" class="h4 text-decoration-none section-title">
                        <div class="p-3 d-flex flex-column align-items-center">
                            <img th:src="@{images/bikesherpa.png}" class="img-section" alt="card-1">
                            <span class="section-title">Bicicletas</span>
                        </div>
                    </a>
                </div>

                <div class="col section-title">
                    <a href="" class="h4 text-decoration-none section-title">
                        <div class="p-3 d-flex flex-column align-items-center">
                            <img th:src="@{/images/hoteles.png}" class="img-section" alt="card-1">
                            <span class="section-title">Hoteles</span>
                        </div>
                    </a>
                </div>

                <div class="col section-title">
                    <a href="" class="h4 text-decoration-none section-title">
                        <div class="p-3 d-flex flex-column align-items-center">
                            <img th:src="@{/images/contact.png}" class="img-section" alt="card-1">
                            <span class="section-title">Contacto</span>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="p-5">
            <h1 class="fs-1">
                <span class="nombre ps-3">Sherpa</span>
                <span class="pet">Bikes</span>
            </h1>
            <p class="lead fw-normal pet fw-bold">Bienvenido</p>
            <button class="btn btn-outline-dark" id="shop">Rent!</button>
        </div>
    </div>
</header>
<main>

    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 d-flex row align-items-center">
                <div class="d-flex row align-items-center justify-content-center">
                    <h2 class="featurette-heading text-azul">Sobre nosotros... <span class="text-muted"></span></h2>
                    <p class="lead text-justify text-azul"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi ad dicta minima officiis alias voluptate molestiae, blanditiis, magnam aperiam consectetur
                        totam maiores, doloribus culpa! Labore, suscipit. Modi exercitationem soluta nesciunt repellat ab
                        consectetur itaque, vel cumque obcaecati saepe provident tempore totam reprehenderit aliquid ea.
                        Nesciunt vero nisi placeat sit natus?
                    </p>

                </div>
            </div>
            <div class="col-md-5">
                <div class="foto foto1">
                    <img th:src="@{/images/sherpa.png}" alt="card-1">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2 row align-items-center justify-content-center">
                <div class="d-flex row align-items-center justify-content-center">
                    <h2 class="featurette-heading text-azul">Nuestro negocio</h2>
                    <p class="lead text-azul"> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Tempore rem vero nam exercitationem quia obcaecati nemo perspiciatis adipisci aliquid
                        eos tempora accusantium molestiae facilis sapiente consequuntur saepe ex corrupti
                        delectus, doloremque cum culpa quae quis totam. Harum, modi nihil. Officia, dolores.
                        Quasi perferendis at consequuntur culpa assumenda fugit, eligendi, sequi laudantium
                        modi autem deleniti ipsa dicta saepe rem esse hic id asperiores. Praesentium, eius animi
                        amet soluta tempore dicta fugit! </p>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <div class="foto foto2"></div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 d-flex row align-items-center">
                <div class="d-flex row align-items-center justify-content-center">
                    <p class="lead text-azul"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora at, alias, assumenda repudiandae consectetur quos impedit esse ipsa qui, aliquid fugiat voluptate dolores voluptatem fuga reiciendis distinctio rem voluptatibus error modi eveniet? A dicta saepe esse? Ullam, dolorum libero soluta eveniet itaque atque excepturi quibusdam quisquam possimus voluptas sunt alias dolores! Illum, distinctio recusandae id vel laudantium molestias fugiat voluptas quas, quisquam totam perferendis. Accusantium blanditiis tempore atque maiores itaque! </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="foto foto3"></div>
            </div>
        </div>
    </div>
</main>
<footer class="mt-3">

    <div>
        <div class="d-flex justify-content-between align-items-center p-3 bg-custom"> !-->
            <!-- Button trigger modal -->
            <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                &copy; 2022 | SherpaBikes
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal modal-alert position-static d-block py-5" tabindex="-1" role="dialog"
                     id="modalChoice">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-4 shadow">
                            <div class="modal-body p-4 text-center">
                                <h5 class="mb-2"><a href="https://github.com/soda7632/sherpabikes"
                                                    class="text-decoration-none text-black">Grupo 4</a></h5>
                                <p class="mb-1"><a href="" target="_blank" class="text-decoration-none fs-6">Javier Perez Lasala</a></p>
                                <p class="mb-1"><a href="" target="_blank" class="text-decoration-none fs-6">Gerardo Londero</a></p>
                                <p class="mb-1"><a href="https://github.com/amparolopez" target="_blank" class="text-decoration-none fs-6">Amparo López</a>
                                </p>
                                <p class="mb-1"><a href="" target="_blank" class="text-decoration-none fs-6">Andrés Bocchicchio
                                </a></p>
                                <p class="mb-1"><a href="" target="_blank" class="text-decoration-none fs-6">Ramiro
                                    Cabrera</a></p>
                                <p class="mb-1"><a href="" target="_blank" class="text-decoration-none fs-6">Agustín
                                    Mazuran</a></p>
                            </div>
                            <div class="modal-footer flex-nowrap p-0">

                                <a href="https://github.com/soda7632/sherpabikes"
                                   class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                                   target="_blank">Ver GitHub</a>

                                <a href="./index.html"
                                   class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right">Volver
                                    a la pagina</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/home.html">
                <img src="/assets/img/logo.png" width="50" alt="" />
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="./index.html" class="nav-link px-2 text-white">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link px-2 text-white">Bicicletas</a></li>
                <li class="nav-item"><a href="" class="nav-link px-2 text-white">Hoteles</a></li>
                <li class="nav-item"><a href="" class="nav-link px-2 text-white">Contacto</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>


</html>